

a									{ text-decoration: none; }

ul									{ list-style: none; }





/* 

	LEVEL ONE

*/

ul.dropdown                         { position:absolute;margin-left:5px; }

ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; background: #ccc; min-height:46px;background:url(../images/menubg.png);}

ul.dropdown a:hover		            { color: #2b2b2b; }

ul.dropdown a:active                { color: #2b2b2b; }

ul.dropdown li a                    { display: block; padding: 10px 26px;margin-top:7px; background:url(../images/menu-seperator.png) no-repeat;background-position:right; 

	 								  color: #222; text-transform:uppercase; font-size:14px; }

ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */

ul.dropdown li.hover,

ul.dropdown li:hover                { color: #2b2b2b; position: relative; }

ul.dropdown li.hover a              { color: #2b2b2b;}

ul.dropdown li:hover {background:url(../images/menubg-current.png); min-height:46px;}

ul.dropdown li:hover a {background:none;}



ul.dropdown li.current_page_item   {background:url(../images/menubg-current.png);}

ul.dropdown li.current_page_item  a {background:none;}



ul.dropdown li.page-item-276 a {background:none;}



ul.dropdown li.left {width:9px;min-height:46px;background:url(../images/left-corner.png);}

ul.dropdown li.right {width:9px;min-height:46px;background:url(../images/right-corner.png);}

ul.dropdown li.left2 {width:9px;min-height:46px;background:url(../images/left-corner-current.png);}

ul.dropdown li.right2 {width:9px;min-height:46px;background:url(../images/right-corner-current.png);}





/* 

	LEVEL TWO

*/

ul.dropdown ul 						{ width: 250px; visibility: hidden; position: absolute; top: 100%; left: 0; z-index:9999; margin-top:0px; }

ul.dropdown ul li 					{ font-weight: normal; background:url(../images/submenubg.jpg); color: #000; 

									  border-bottom: 1px solid #ccc; float: none;min-height:30px; border-right: none;}

									  

                                    /* IE 6 & 7 Needs Inline Block */

ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block;  padding: 4px 8px; margin-top:5px;margin-left:11px; text-transform:none;  background:none;} 



ul.dropdown ul li:hover {background:url(../images/menubg-current.png);min-height:30px;}





ul.dropdown ul li.current_page_item {background:url(../images/submenubg.jpg);}



/* 

	LEVEL THREE

*/

ul.dropdown ul ul 					{ left: 100%; top: 0; }

ul.dropdown li:hover > ul 			{ visibility: visible; }